@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-12 mb-4">
        <img class="d-block m-auto" src="~/cat.jpg" asp-file-server-version="true" width="200" alt="Sample cat" />
        <span class="d-block text-center">asp-file-server-version="true" </span>
    </div>

    <div class="col-md-12 mb-4">
        <img class="d-block m-auto" src="@Url.FileServerContent("~/cat.jpg")" width="200" alt="Sample cat" />
        <span class="d-block text-center">Url.FileServerContent</span>
    </div>

</div>
